<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Test  - Diversition</title>

    <!-- Bootstrap core CSS -->
    <link href="/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/font-awesome/css/font-awesome.min.css"><!-- font-awesome -->

    <!-- Custom styles for this template -->
    <link href="/stylesheets/style.css" rel="stylesheet">

  </head>
  <body>